* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cover {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.card {
    width: 1100px;
    margin: 40px auto;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    background: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: border-color ease .3s;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border-color: rgba(255, 255, 255, 0.454);
}

.sticker{
    margin-top: 30px;
}
.sticker img {
    width: 500px; 
    height: 250px;  
}

.letter{
    font-size: 17px;
    color: #fff;
    text-align: justify;
    padding: 20px 50px;
    overflow: hidden;
    
}
.sin{
    text-align: right;
}
.tan{
    text-align: left;
}

.shape{
    margin-top: 60px;
    margin-bottom: 100px;
  }
  
.heart{
    height: 40px;
    width: 40px;
    background: #f20044;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(3.07);
    }
    80%{
        transform: rotate(-45deg) scale(3.0);
    }
    100%{
        transform: rotate(-45deg) scale(3.08);
    }
    
}

.heart::before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px #f20044;
}
.heart::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

.return{
    text-align: right;
    margin-bottom: 40px;
    margin-right: 150px;
}

a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #fff;
}



@media screen and (max-width: 600px) {
    .card {
        width: 90%;  
    }

    .sticker img {
        width: 100%;
        height: 150px;
    }

    .return{
        margin-right: 50px;
        margin-bottom: 20px;
    }

}